<div class="jumbotron text-center text-white bg-dark m-0">
  <h1>Github Search</h1>
  <hr>
  <p>An application that allows you to search for github users and repositories</p>
</div>
<div class="container-fluid ">
    <br>
  <app-searc-form (emitSearch)="searchUser($event)"></app-searc-form>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
        <div class="card">
          
          <img src='{{user.avatar_url}}' alt="avatar" class=" img-card-top b-0 m-o" height="0px" width="auto">
          <div class="card-body text-center">
          <h4 class="card-title">{{user.login}}</h4>
          
            <p>Followers: {{user.followers}}
            Following: {{user.following}} Public Repos: {{user.public_repos}} <p>
          
          <p> Created {{user.created_at|date}}</p>
        </div>

          <div class="text-center mb-3">
            <a href="{{user.html_url}}" class="btn btn-info btn sm" target="_blank">View profile on
                github</a>
          </div>

        </div>
      </div>
    </div>
   
  

<div class="repo mt-4 ">
  <h2 class="text-center text-white"> REPOSITORIES</h2>
  <div class="card-columns">
  <div *ngFor="let repo  of repo">
    <div class="card ">
        <div class="view view-cascade gradient-card-header">
        <h6 class="card-header">
            {{repo.name| uppercase}} <br>
        </h6>
      
      
      <p class="card-text">{{repo.description}}</p>
      <a class="btn btn-info" href="{{repo.html_url}}" target="_blank">View project on github</a>
    </div>
  </div>
</div>
  </div>
</div>
</div>
  
  
  
  

  