<div class="jumbotron text-center">
  <h1>Github Search</h1>
  <hr>
  <p>An application that allows you to search for github users and repositories</p>
</div>
<div class="container-fluid">
  <app-searc-form (emitSearch)="searchUser($event)"></app-searc-form>
</div>
<div *ngFor="let user of user">
  <div class="card">
    <div class="card-body">
      <div class="container contents">
        <div class="avatar ab">
          <img src='{{user.avatar_url}}' alt="avatar" class=" img-responsive" height="200px">
        </div>
        <div class="mt-4">
          <p>
            <span class="btn btn-danger red mr-4">followers {{user.followers}}</span>
            <span class="btn btn-primary blue mr-4">Following {{user.following}}</span>
            <span class="btn btn-info blue">{{user.public_repos}} Public Repos</span>
          </p>

          <div>
            <p><a href="{{user.html_url}}" class="btn btn-success btn sm green" target="_blank">View profile on
                github</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
  
  </div>
  <div class="container-fluid">
    <app-repository></app-repository>
  </div>
  

  